html, body {
    padding: 0;
    margin: 0;
}

.message {
    padding-top: 2px;
    padding-bottom: 4px;
    text-align: center;
    font-size: 0.9em;

    &.demo {
        color: white;
        background-color: #ff1a1a;
    }
}

.header.links {
    background-color: #777;
    color: white;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    list-style: none;

    & > li {
        margin: 0;
        padding: 10px;
    }
}

.action.skip.contentarea {
    display: none; /* @todo: Replicate sr-only */
}

.switcher.language {
    float: right;

    .switcher-label {

    }

    .actions.dropdown.switcher-options {
        display: none;

        ul {
            list-style: none;
            margin: 0;

            li {
                margin: 0;
            }
        }
    }

    &:hover .actions.dropdown.switcher-options {
        display: block;
    }
}

.panel.wrapper {
    background-color: #777;
    color: white;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    list-style: none;

    & > li {
        margin: 0;
        padding: 10px;
    }
}


.header.content {
    margin: auto;
    width: 1280px;
    padding: 20px;
    display: flex;
    justify-content: space-between;

    .action.nav-toggle {
        display: none; /* @todo */
    }

    .minicart-wrapper {
        float: right;

        .showcart {
            &:after {
                font-family: 'luma-icons';
                content: '\e611';
                display: inline-block;
            }
        }
    }

    .block-search {
        align-self: flex-start;
        display: flex;

        .block-title {
            display: none;
        }

        .block-content {
            .field.search {
                .label {
                    display: none;
                }
            }
        }
    }

    .logo {
        display: inline-block;

        img {
            width: 200px;
        }
    }
}

.nav-sections {
    background-color: #ddd;

    .nav-sections-item-title {
        display: none;
    }

    nav.navigation {
        margin: auto;
        width: 1280px;

        ul {
            li.level0 {
                display: inline-block;
                padding: 10px;

                ul.level0.submenu {
                    display: none;

                    &:hover {
                    }

                    li.level1 {
                        display: inline-block;
                    }
                }

                &:hover {
                    ul.level0.submenu {
                        display: block;
                    }
                }
            }
        }
    }
}
