@message-warning__color: @color-brownie1;
@message-warning__background: @color-yellow-light1;
@message-warning-icon__color-inner: @color-brownie1;
@message-warning-icon__background: @color-yellow-light1;

@message-info__color: #0b378b;
@message-info__background: #d9e6ff;
@message-info-icon__color-inner: #0b378b;
@message-info-icon__background: #d9e6ff;

