@import "theme/variables";
@import "@fylgja/base";
@import "@fylgja/tokens";
@import "@fylgja/utilities";
@import "theme/dirty";

/*
.message {
    @extend container;
    margin: 10px;
    padding: 5px;

    &.demo {
        background-color: var(--message-demo-color);
    }
}
*/
